body {
    font-family: Andale Mono, monospace;
    line-height: 1.6px;
    margin: 0;
    padding: 20px;
    color: #02000F;
    max-width: 800px;
    margin: 0 auto;
   
}

h1 {
    color: #380C03;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

img {
    border-radius: 
    width:
    height:
    border:
}