body {
    font-family: Andale Mono, monospace;
    line-height: 1.6px;
    margin: 0;
    padding: 20px;
    color: #02000F;
    max-width: 800px;
    margin: 0 auto;
   
}

h1 {
    color: #380C03;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

img {
    border-radius: 
    width:
    height:
    border:
}

hr {
    border: none; /* Remove default border */
    height: 2px; /* Set height */
    background-color: #546fde; /* Set color */
    width: 80%; /* Set width */
    margin: 20px auto; /* Center the line and add vertical spacing */
}
